<a (click)=goBack()>&laquo; {{configService?.labelConfig?.button?.back}} </a>
<div class="content">
  <div class="flex-parent jc-center">
    <p class="player-header">{{configService?.labelConfig?.label?.likeTo}}  <span *ngIf="userData?.role === 'creator'"> {{configService?.labelConfig?.label?.create}} </span> 
      <span *ngIf="userData?.role === 'reviewer'"> {{configService?.labelConfig?.label?.review}}</span> ?</p>
  </div>
  <div class="flex-parent jc-center">
    <button class="btn create-new margin-right" (click)="navigateToContentList('collection')">Collection (Book, Course, etc..)</button>

    <button class="btn create-new" (click)="navigateToContentList('ecml')">Resource (Similar to Google slide)</button>
  </div>
  <div class="flex-parent jc-center">
    <button class="btn create-new margin-right" (click)="navigateToContentList('pdf')">PDF Content</button>

    <button class="btn create-new" (click)="navigateToContentList('video')">Video Content</button>
  </div>
  <div class="flex-parent jc-center">
    <button class="btn create-new margin-right" (click)="navigateToContentList('epub')">EPUB Content</button>
      <button class="btn create-new" (click)="navigateToContentList('youtube')">Youtube Content</button>
  </div>
  <div class="flex-parent jc-center">
    <button class="btn create-new margin-right" (click)="navigateToContentList('h5p')">H5P</button>
    <button class="btn create-new" (click)="navigateToContentList('html')">HTML</button>
  </div>
</div>
