<div class="relative position mt-0 sb-back-actionbar d-flex flex-ai-center">
  <button type="button" class="sb-btn sb-btn-normal sb-btn-link sb-btn-link-primary sb-left-icon-btn px-0 sb-btn-round sb-btn-round--notext"
  tabindex="0" (click)=goBack()><i class="icon-svg icon-svg--xxs icon-back mr-4"><svg class="icon icon-svg--primary"><use xlink:href="../../assets/images/sprite.svg#arrow-long-left"></use></svg></i><span>Back</span></button>
</div>
<div class='sbt-inside-page-container'>
  <div class="relative9">
    <div class="editor-content">
      <div class="editor-items flex-jc-center pb-16">
        <p class="player-header mb-16">{{configService?.labelConfig?.label?.likeTo}}  <span *ngIf="userData?.role === 'creator'"> {{configService?.labelConfig?.label?.create}} </span> 
          <span *ngIf="userData?.role === 'reviewer'"> {{configService?.labelConfig?.label?.review}}</span> ?</p>
      </div>
      <div class="editor-items flex-jc-center pb-16">
        <button class="sb-btn sb-btn-normal sb-btn-primary" (click)="navigateToContentList('book')">Book</button>
        <button class="sb-btn sb-btn-normal sb-btn-primary" (click)="navigateToContentList('course')">Course</button>
      </div>
      <div class="editor-items flex-jc-center pb-16">
        <button class="sb-btn sb-btn-normal sb-btn-primary" (click)="navigateToContentList('collection')">Collection</button>
        <button class="sb-btn sb-btn-normal sb-btn-primary" (click)="navigateToContentList('ecml')">Resource (Similar to Google slide)</button>
      </div>
      <div class="editor-items flex-jc-center pb-16">
        <button class="sb-btn sb-btn-normal sb-btn-primary" (click)="navigateToContentList('pdf')">PDF Content</button>
    
        <button class="sb-btn sb-btn-normal sb-btn-primary" (click)="navigateToContentList('video')">Video Content</button>
      </div>
      <div class="editor-items flex-jc-center pb-16">
        <button class="sb-btn sb-btn-normal sb-btn-primary" (click)="navigateToContentList('epub')">EPUB Content</button>
          <button class="sb-btn sb-btn-normal sb-btn-primary" (click)="navigateToContentList('youtube')">Youtube Content</button>
      </div>
      <div class="editor-items flex-jc-center pb-16">
        <button class="sb-btn sb-btn-normal sb-btn-primary" (click)="navigateToContentList('h5p')">H5P</button>
        <button class="sb-btn sb-btn-normal sb-btn-primary" (click)="navigateToContentList('html')">HTML</button>
      </div>
    </div>
  </div>
</div>



