  .flex-parent {
    display: grid;
    min-height: 0px;
    gap: 1rem;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));

  }
  .jc-center {
    justify-content: center;
    padding: 20px;
  }
  
  .content {
    font-size: 2rem;
    padding: 2rem;
  }
  
  .player-header{
    font-size: 24px;
    font-weight: bold;
    text-align: center;
  }
  
  
  
  