  .flex-parent {
    display: grid;
    min-height: 0px;
    gap: 1rem;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));

  }

  .content {
    font-size: 2rem;
    padding: 2rem;
  }
  
  .player-header{
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;
  }
  
  
  
  