<div class="relative position mt-0 sb-back-actionbar">
  <a routerLink="..">
    <button type="button" class="sb-btn sb-btn-normal sb-btn-link sb-btn-link-primary sb-left-icon-btn px-0 sb-btn-round" tabindex="0">
      <i class="icon-svg icon-svg--xxs icon-back mr-4"><svg class="icon icon-svg--primary">
          <use xlink:href="../../assets/images/sprite.svg#arrow-long-left"></use>
        </svg>
      </i>
      <span>Back</span>
    </button>
  </a>
</div>

<div class ='sbt-inside-page-container'>
  <div *ngIf="isLoading">Loading.....</div>
  <div class="relative9">
    <!-- CC-Player Video -->
    <div class="sb-single-resource player-maxwidth">
      <div class="ui container">
          <div class="cc-player sb-g">
            <section class="sb-g-col-xs-12 sb-g-col-md-12 sb-g-col-lg-12 sb-g-col-xxxl-16 cc-player__video" id="player-area-height">
              <div class="aspectratio sbt-shadow-radius" data-ratio="16:9" id="help-video-aspect-ratio" #aspectRatio>
                <div class="h-100">
                  <sunbird-pdf-player *ngIf="playerConfig" [playerConfig]="playerConfig" (playerEvent)="playerEvents($event)"
    (telemetryEvent)="playerTelemetryEvents($event)"></sunbird-pdf-player>
                </div>
              </div>
            </section>
          </div>
      </div>
    </div>

  </div>
</div>

<app-sn-popup [ShowsharePopup]="ShowsharePopup" (close)="close()"></app-sn-popup>

<div><button class="sb-btn sb-btn-normal sb-btn-primary setting-btn" (click)="enableSideMenu()">Settings</button></div>
<app-sidebar [sidemenuConfig]="sidemenuConfig" [configFor]="'pdfConfig'" [showSideMenu]="showSideMenu"></app-sidebar>
