<div class="relative position mt-0 sb-back-actionbar">
  <a routerLink="..">
    <button type="button" class="sb-btn sb-btn-normal sb-btn-link sb-btn-link-primary sb-left-icon-btn px-0 sb-btn-round" tabindex="0">
      <i class="icon-svg icon-svg--xxs icon-back mr-4"><svg class="icon icon-svg--primary">
          <use xlink:href="../../assets/images/sprite.svg#arrow-long-left"></use>
        </svg>
      </i>
      <span>Back</span>
    </button>
  </a>
</div>

<div class="pdf-player-container">
  <div class="d-flex">
    <div>Enter Artifact or Streaming Url</div> :
    <div><input #artifactUrlbox></div>
    <button class="btn margin-right" (click)="onEnter(artifactUrlbox.value)">Submit</button>
  </div>
  <sunbird-pdf-player *ngIf="playerConfig" [playerConfig]="playerConfig" (playerEvent)="playerEvents($event)"
    (telemetryEvent)="playerTelemetryEvents($event)"></sunbird-pdf-player>
</div>
