<a (click)=goBack()><i class="dropdown icon"></i>&laquo; Back </a>


<div class="content container">
    <div class="flex-parent">
        <button class="btn create-new" (click)=navigateToContentCreate()>Create New</button>
    </div>
</div>

<div>

    <table>
        <tr>
            <th></th>
            <th>Name</th>
            <th>Content Type</th>
            <th>Status</th>
        </tr>
        <tr>
            <td>Alfreds Futterkiste</td>
            <td>Alfreds Futterkiste</td>
            <td>Maria Anders</td>
            <td><button class="btn " (click)=navigateToContentCreate()>draft</button></td>
        </tr>
        <tr>
            <td>Alfreds Futterkiste</td>
            <td>Centro comercial Moctezuma</td>
            <td>Francisco Chang</td>
            <td><button class="btn " (click)=navigateToContentCreate()>draft</button></td>
        </tr>
        <tr>
            <td>Alfreds Futterkiste</td>
            <td>Ernst Handel</td>
            <td>Roland Mendel</td>
            <td><button class="btn " (click)=navigateToContentCreate()>draft</button></td>
        </tr>
        <tr>
            <td>Alfreds Futterkiste</td>
            <td>Island Trading</td>
            <td>Helen Bennett</td>
            <td><button class="btn " (click)=navigateToContentCreate()>draft</button></td>
        </tr>
    </table>
</div>