table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  td, th {
    text-align: left;
    padding: 8px;
  }
  th {
    border-bottom: 1px solid #413535;
  }

.create-new {
    padding-top: 6px;
    background-color: #008840de;
    border: 1px;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    font-size: 14px;
    width: 102px;
    margin-bottom: 23px;
  }
  .status-button {
    background-color: #787272;
    border: 1px;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    font-size: 14px;
    width: 88px;
  }
   .pagination {
      font-size: 14px;
      text-align: center;
      margin: 20px auto;
    }
  
    ::ng-deep .pagination-next a,
    ::ng-deep .pagination-previous a {
      outline: none;
    }
  
    ::ng-deep .ngx-pagination .current {
      border-radius: 4px;
    }
  
    ::ng-deep .ngx-pagination {
      padding: 0 !important;
    }
  
    ::ng-deep .ngx-pagination a:hover,
    ::ng-deep .ngx-pagination button:hover {
      border-radius: 4px;
    }
  
    ::ng-deep .ngx-pagination a,
    ::ng-deep .ngx-pagination button {
      border-radius: 4px;
      outline: none;
    }
