table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  td, th {
    text-align: left;
    padding: 8px;
  }
  th {
    border-bottom: 1px solid #413535;
  }

.create-new {
    padding-top: 6px;
    background-color: #008840de;
    border: 1px;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    font-size: 14px;
    width: 102px;
    margin-bottom: 23px;
  }