<a (click)=goBack()><i class="dropdown icon"></i>&laquo; Back </a>


<div class="content container">
    <div class="flex-parent">
        <button class="btn create-new" (click)=navigateToContentCreate()>Create New</button>
    </div>
</div>

<table>
    <tr>
        <th>Name</th>
        <th>Content Type</th>
        <th>Status</th>
    </tr>
    <tr *ngFor="let data of contentArray | paginate: {itemsPerPage:10, currentPage: currentPage}">
        <td>{{data?.name}}</td>
        <td>{{data?.contentType}}</td>
        <td><button class="btn status-button" (click)=navigateToContentCreate()>{{data?.status}}</button></td>
    </tr>
</table>
<div class="pagination">
    <pagination-controls (pageChange)="pageChanged($event)"></pagination-controls>
</div>