version: 2.1
jobs:
  build:
    working_directory: ~/knowlg-portal
    machine:
      image: ubuntu-2004:202010-01
    steps:
      - checkout:
          path: ~/knowlg-portal
      - run:
          name: Node version
          command: 'node --version'
      - run:
          name: Installing Angular cli
          command: 'sudo npm install -g @angular/cli@12.2.18 --no-progress'
      - restore_cache:
          key: dependency-cache-{{ checksum "package.json" }}
      - run:
          name: Installing NPM deps
          command: 'sudo npm install --no-progress'
      - save_cache:
          key: dependency-cache-{{ checksum "package.json" }}
          paths: ./node_modules
      - run:
          name: Linting
          command: sudo npm run lint
      - run:
          name: Building
          command: 'mkdir -p /tmp/logs && node --max_old_space_size=6000 ./node_modules/@angular/cli/bin/ng build --prod --optimization=false --buildOptimizer=false | tee /tmp/logs/build.log'
      - run:
          name: Testing
          command: 'sudo npm run test-coverage | tee /tmp/logs/test_cases.log'
      - run:
          name: Install  Node.js v14.20.0 with build in nvm tool
          command: |
            export NVM_DIR="/opt/circleci/.nvm"
            [ -s "$NVM_DIR/nvm.sh" ] && . "$NVM_DIR/nvm.sh"
            nvm install v14 && nvm use v14 && nvm alias default v14
            node -v
      - run:
          name: Alter Node version
          command: 'node --version'
      - run:
          name: Install sonar scanner
          command: sudo npm install -g sonarqube-scanner
      - run:
          name: Run sonar scanner
          command: 'cd ~/knowlg-portal && sonar-scanner'
workflows:
  version: 2.1
  build_and_test:
    jobs:
      - build

