<a routerLink=".."><i class="dropdown icon"></i>&laquo;  Back </a>
<div class="content">
  <div class="flex-parent jc-center">
    <p class="player-header">What would you like to Create ?</p>
  </div>
  <div class="flex-parent jc-center">
    <button class="btn margin-right" (click)="navigateToContentList('collection-editor')">Collection (Book, Course, etc..)</button>

    <button class="btn margin-right" (click)="navigateToContentList('Resources')">Resource (Similar to Google slide)</button>
  </div>
  <div class="flex-parent jc-center">
    <button class="btn margin-right" (click)="navigateToContentList('Pdf')">PDF Content</button>

    <button class="btn margin-right" (click)="navigateToContentList('Video')">Video Content</button>
  </div>
  <div class="flex-parent jc-center">
    <button class="btn margin-right" (click)="navigateToContentList('Epub')">EPUB Content</button>
      <button class="btn margin-right" (click)="navigateToContentList('Youtube')">Youtube Content</button>
  </div>
  <div class="flex-parent jc-center">
    <button class="btn margin-right" (click)="navigateToContentList('H5pHtml')">H5P & Html Zip</button>
  </div>
</div>
