.create-new {
  background-color: DodgerBlue;
  border: none;
  color: white;
  padding: 12px 30px;
  cursor: pointer;
  font-size: 20px;
  }
  
  button {
    width: 400px;
    border: 2px solid #ffffff;
    border-radius: 8px;
    padding: 15px 40px;
    color: #ffffff;
    font-size: 1.25rem;
    cursor: pointer;
    transition: all 150ms ease-in-out;
  
  
    &.block {
      display: block;
      width: 200px;
      color: #000000;
  
    }
  
    &.margin-auto {
      margin: 0 auto;
    }
  
    &.margin-right {
      margin-right: 20px;
    }
  }
  /* Darker background on mouse-over */
  .btn:hover {
    background-color: RoyalBlue;
  }
  
  .flex-parent {
    display: flex;
    min-height: 0px;
  }
  
  .jc-center {
    justify-content: center;
    padding: 20px;
  }
  
  .content {
    font-size: 2rem;
    padding: 100px;
  }
  
  .player-header{
    font-size: 24px;
    font-weight: bold;
  }
  
  
  
  