<div class="relative position mt-0 sb-back-actionbar d-flex flex-ai-center">

    <button type="button" routerLink=".." class="sb-btn sb-btn-normal sb-btn-link sb-btn-link-primary sb-left-icon-btn px-0 sb-btn-round sb-btn-round--notext"
    tabindex="0"><i class="icon-svg icon-svg--xxs icon-back mr-4"><svg class="icon icon-svg--primary"><use xlink:href="../../assets/images/sprite.svg#arrow-long-left"></use></svg></i><span>Back</span></button>

    <div class="textbook d-flex flex-ai-center w-100 ml-16">
        <div class="textbook__details d-flex flex-ai-center">
            <div class="textbook__bookimg"><img src="assets/images/book.png" alt="Course with timer"></div>
            <div class="ml-8 textbook__heading">
                <h5 class="textbook__title sb-color-primary font-weight-bold mb-0" tabindex="0">Course with timer </h5>
                <div class="textbook__rating d-flex flex-ai-center">
                  subtext and toolbar items
                </div>
            </div>
        </div>
        <div class="certified-course mx-8">
            <div class="certified-course__btn"><button
                    class="sb-btn sb-btn-secondary sb-btn-normal ml-auto textbook__addbtn" tabindex="0">Button</button></div>
        </div>
    </div>

</div>

<div class='sbt-inside-page-container'>
    <!-- <div *ngIf="isLoading">Loading.....</div> -->
    <div class="relative9">
        <!-- CC-Player Video -->
        <div class="sb-single-resource player-maxwidth">
            <div class="ui container">
                <div class="cc-player sb-g sb-g sb-g--gap24 text-left">
                    <section class="sb-course-details__training sb-g-col-xs-12 sb-g-col-md-9 sb-g-col-lg-9 sb-g-col-xxxl-12 cc-player__video"
                        id="player-area-height">
                        <div class="aspectratio sbt-shadow-radius" data-ratio="16:9" id="help-video-aspect-ratio"
                            #aspectRatio>
                            <div class="h-100">
                                player
                            </div>
                        </div>
                    </section>
                    <section class="sb-course-details__info sb-g-col-xs-12 sb-g-col-md-3 sb-g-col-lg-3 sb-g-col-xxxl-4">
                        <div class="toc-box-shadow mb-2">
                            <sb-library-filters [hidden]="isSelectChapter" [tocList]="mimeTypeFilters" [layout]="'round-with-icon'"
                              (selectedMimeType)="selectedFilter($event)">
                            </sb-library-filters>
                          </div>
                          <div [hidden]="isSelectChapter" class="main-side-toc-content">
                            <sb-toc-item [selectAll]="selectAll" [selectMode]="isCopyAsCourseClicked"
                              [activeMimeTypeFilter]="activeMimeTypeFilter" [tocData]="collectionData"
                              [noContentMessage]="noContentMessage" (tocCardClick)="tocCardClickHandler($event)"
                              [activeContent]="activeContent" (noContent)="showNoContent($event)"
                              (selectedItem)="handleSelectedItem($event)"
                              [platform]="PlatformType.PORTAL" [type]="TocCardType.TRACKABLE"
                              [trackableDefaultImage]="'assets/images/mask-image/courses.svg'"></sb-toc-item>
                          </div>
                </section>
                </div>
            </div>
        </div>

    </div>
</div>