#contentPlayer {
  width: 100%;
  border: 0;
  height: 70vh;
  left: 50%;
  top: 60%;
  right: 50%;
  bottom: 50%;
  transform: translate(-50%,-50%);
  position: absolute;
  transition: all .3s ease;
};

.content-video{
  height: 100vh;
  width: 1000px;
  margin-top: -263.5px;
  margin-left: -468.444px;
  position: absolute;
  left: 50%;
  top: 50%;
  bottom: 25%;
}

.btn {
  background-color: DodgerBlue;
  border: none;
  color: white;
  cursor: pointer;
  font-size: 20px;
  margin-left: 10px;
}

button {
  border: 2px solid #ffffff;
  border-radius: 8px;
  color: #ffffff;
  font-size: 1.25rem;
  cursor: pointer;
  transition: all 150ms ease-in-out;

  &.block {
    display: block;
    width: 200px;
    color: #000000;

  }

  &.margin-auto {
    margin: 0 auto;
  }

  &.margin-right {
    margin-right: 20px;
  }
}
/* Darker background on mouse-over */
.btn:hover {
  background-color: RoyalBlue;
}

textarea {
  width: 100%;
  height: 150px;
  padding: 12px 20px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  background-color: #f8f8f8;
  resize: none;
}

.text-inline {
  display: inline;
}

.text-div{
  width: 85%;
  margin-left: 7%;
}
