<a routerLink=".."><i class="dropdown icon"></i>&laquo; Back </a>
<div class="text-div">
  <div style="display: inline;">Enter Body</div> :
  <div style="display: inline;"><textarea #box> </textarea></div>
  <button style="display: inline;" class="btn margin-right" (click)="onEnter(box.value)">Submit</button>
</div>
<div class="content-video">
  <section class="" id="player-area-height">
    <div class="aspectratio sbt-shadow-radius" data-ratio="16:9" id="help-video-aspect-ratio" #aspectRatio [ngClass]="{'player-fullscreen': isFullScreenView}">
      <iframe #preview title="player" id="contentPlayer"  src="../../assets/content-player1/preview.html?webview=false"
    style="width:100%;border:none;"></iframe>
  </div>
</section>
</div>
