<a routerLink=".."><i class="dropdown icon"></i>&laquo; Back </a>
<div class="text-div" *ngIf='mode === "QA"'>
  <div class="text-inline">Enter Body</div> :
  <div class="text-inline"><textarea #box> </textarea></div>
  <button class="btn margin-right text-inline" (click)="onEnter(box.value)">Submit</button>
</div>
<div class="content-video">
  <section class="" id="player-area-height">
    <div class="aspectratio sbt-shadow-radius" data-ratio="16:9" id="help-video-aspect-ratio" #aspectRatio>
      <iframe #preview title="player" id="contentPlayer"  src="../../assets/content-player/preview.html?webview=false"
    style="width:100%;border:none;"></iframe>
  </div>
</section>
</div>
