body {
  background-color: white;
  height: 100%;
}
html {
  height: 100%;
}

.sb-single-resource {
	width: 100%;
	height: 100%;
	margin: 0 auto;
  }


  //aspect ratio
.aspectratio {
  position: relative;
  height: 0;
  width: 100%;
  z-index:1;

  &[data-ratio="16:9"] {
    padding-top: 56.25%;
  }

  [data-ratio="4:3"] {
    padding-top: 75%;
  }

  & > * {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  &.player-fullscreen {
    width: 100%;
    height: calc(100vh - 50px) !important;
    position:fixed;
    top:calculateRem(50px);
    left:0;
    bottom:0;
    right:0;
    border:none;
    margin:0;
    padding:0;
    z-index:9999;
   }
   &.player-fullscreen iframe, &.player-fullscreen {
    width: 100%;
    height: calc(100vh - 50px) !important;
 }
}

.player-maxwidth {
  max-width: 60rem;
}

.margin-right2{
  margin-left: auto;
}
