<a routerLink=".."><i class="dropdown icon"></i>&laquo; Back </a>
<div class="epub-player">
  <div class="padding-nine">
    <div style="display: inline;">Enter Url</div> :
    <div style="display: inline;"><input #box></div>
    <button style="display: inline;" class="btn margin-right" (click)="onEnter(box.value)">Submit</button>
  </div>
  <sunbird-epub-player [playerConfig]="playerConfig" (playerEvent)="playerEvents($event)"
    (telemetryEvent)="playerTelemetryEvents($event)"></sunbird-epub-player>
</div>
