<div class="relative position mt-0 sb-back-actionbar d-flex flex-ai-center flex-jc-space-between">
    <button type="button" class="sb-btn sb-btn-normal sb-btn-link sb-btn-link-primary sb-left-icon-btn px-0 sb-btn-round sb-btn-round--notext"
    tabindex="0"  (click)=goBack()><i aria-hidden="true" class="icon-svg icon-svg--xxs icon-back mr-4"><svg class="icon icon-svg--primary"><use xlink:href="../../assets/images/sprite.svg#arrow-long-left"></use></svg></i>
        <span>Back</span>
    </button>
</div>
<div class ='sbt-inside-page-container'>
  <div *ngIf="isLoading">Loading.....</div>
    <lib-contentlist class="editor-items flex-jc-center pb-20" [contentList]="contentArray" (contentSelect)= "navigateToPlayer($event)"> </lib-contentlist>
    <mat-paginator [length]="pagelength"
        [pageSize]="pageSize"
        [pageSizeOptions]="pageSizeOptions"
        (page)="handlePageEvent($event)"
        aria-label="Select page">
    </mat-paginator>
</div>
