<a routerLink=".."><i class="dropdown icon"></i>&laquo;  Back </a>
<div class="content">
  <div class="flex-parent jc-center">
    <p class="player-header">What would you like to play ?</p>
  </div>
  <div class="flex-parent jc-center">
    <button class="btn margin-right" (click)=navigateToPdf()>PDF Content</button>

    <button class="btn margin-right" (click)=navigateToEpub()>EPUB Content</button>
  </div>
  <div class="flex-parent jc-center">
    <button class="btn margin-right" (click)=navigateToEcml()>Interactive Content</button>
      <button class="btn margin-right" (click)=navigateToVideo()>Video Content</button>
  </div>
</div>
