.flex-parent {
  display: grid;
  min-height: 0px;
  gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}
.jc-center {
  justify-content: center;
  padding: 20px;
}

.content {
  font-size: 2rem;
  padding: 100px;
}

.player-header {
  font-size: 24px;
  font-weight: bold;
  text-align: center;
}
@media (max-width:768px) {
  .content {
    padding: 3rem;
  }
  .flex-parent {
    flex-direction: column;
    gap: 0.625rem;
  }
  .jc-center {
    padding: 0rem;
    padding-bottom: 10px;
  }
}
