*[lang="en"] body {
  font-family: var(--font-stack-en);
}

html,
body {
  height: 100%;
  // font-size: $font-size-base;
}

body {
  background: var(--sbt-compt-bg) !important;
  position: relative;
  font-family: $font-stack-en;
  letter-spacing: 0.2px;
  height: auto;
  color: $default-text-color;
  // padding-bottom: 336px;
  min-height: 100vh;
  text-rendering: optimizeLegibility;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  text-align: left;
  margin: 0;

  &.pushable {
    background: $body-background-color !important;

    &>.pusher {
      background: transparent !important;
      padding-bottom: 400px !important;

      &.dimmed {
        height: 100vh;
      }
    }
  }
}

.font-italic {
  font-style: italic;
}

@media only screen and (max-width: 1199px) and (min-width: 768px) {
  .ui.container {
    width: 95%;
    margin-left: auto !important;
    margin-right: auto !important;
  }
}

@media (min-width: 1280px) {

  .ui.container,
  .ui.grid.container {
    width: 95% !important;
  }
}

.sb-meta-data-container {
  max-width: 480px;
  width: 100%;
}

.sb-meta-data-container .sb-meta-data {
  display: flex;
  flex-flow: row wrap
}

.sb-meta-data-container .sb-meta-data dt,
.sb-meta-data-container .sb-meta-data dd {
  line-height: 22px;
  font-size: 14px;
  text-transform: inherit;
  padding: 4px 4px
}

.sb-meta-data-container .sb-meta-data dt {
  color: var(--gray-400)
}

.sb-meta-data-container .sb-meta-data dt::first-letter {
  text-transform: uppercase
}

.sb-meta-data-container .sb-meta-data dd {
  margin: 0;
  color: var(--gray-800)
}

.sb-meta-data-container .sb-meta-data dd::first-letter {
  text-transform: uppercase
}

.sb-meta-data-container.sb-meta-data-row-facing .sb-meta-data dt {
  flex-basis: 30%;
  text-align: right;
  word-break: break-all;
  color: var(--gray-400)
}

.sb-meta-data-container.sb-meta-data-row-facing .sb-meta-data dt::after {
  content: ":";
  width: 10px;
  margin: 0 4px
}

.sb-meta-data-container.sb-meta-data-row-facing .sb-meta-data dd {
  flex-basis: 70%;
  flex-grow: 1;
  color: var(--gray-800)
}

*[dir="rtl"] .sb-meta-data-row-facing .sb-meta-data dt {
  text-align: left
}

*[dir="ltr"] .sb-meta-data-row-facing .sb-meta-data dt {
  text-align: right
}

@media (max-width: 767px) {

  .sb-meta-data-container.sb-meta-data-row-facing .sb-meta-data dt {
    flex-basis: 100%
  }

  .sb-meta-data-container .sb-meta-data dt {
    text-align: left
  }

  .sb-meta-data-container .sb-meta-data dd {
    margin-bottom: 8px
  }

  *[dir="ltr"] .sb-meta-data-container .sb-meta-data dt {
    text-align: left
  }

  *[dir="rtl"] .sb-meta-data dt {
    text-align: right
  }
}
@media screen and (min-width:1920px) {
  .sb-g{
    grid-template-columns: repeat(16, 1fr);
  }
}
.sbt-inside-page-container app-pdf .sbt-inside-page-container {
  padding: 0;
  margin: 0;
  .sb-single-resource.player-maxwidth{
    max-width: 100%;
    .cc-player.sb-g{
      display: block;
    }
  }
}