.flex-parent {
  display: flex;
  min-height: 0px;
  gap: 0.625rem;
}

.jc-center {
  justify-content: center;
}

.content {
  font-size: 2rem;
  padding: 100px;
}

.player-header {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 50px;
  text-align: center;
}

@media (max-width:768px){
  .content {
    padding: 2rem;
  }
  .flex-parent {
    flex-direction: column;
    gap: 0.625rem;
  }
}
